<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<th:block layout:fragment="content">
    <div class="container py-4">
        <div class="row mt-4">
            <div class="col-12">
                <div class="card">

                    <div class="card-header">
                        <div class="d-lg-flex">
                            <div>
                                <h5 class="mb-0">Employees Management</h5>
                                <p class="text-sm mb-0">
                                    Employees management for admin only.
                                </p>
                            </div>
                            <div class="ms-auto my-auto">
                                <a th:href="@{/admin/employees/new}"
                                   class="btn bg-gradient-primary btn-sm mb-0"
                                >+&nbsp; New Employee</a>
                                <button class="btn btn-outline-primary
                                btn-sm export mb-0 mt-sm-0 mt-1"
                                        data-type="csv" type="button" name="button">Export
                                </button>
                            </div>
                        </div>

                    </div>
                    <div class="table-responsive">
                        <table class="table table-flush" id="datatable-search">
                            <thead class="thead-light">
                            <tr>
                                <th>Id</th>
                                <th>Username</th>
                                <th>Full Name</th>
                                <th>Employee Type</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="employee : ${employees}">
                                <td th:text="${employee.id}"></td>
                                <td th:text="${employee.username}"></td>
                                <td th:text="${employee.fullName}"></td>
                                <td th:text="${employee.type}"></td>
                                <td class="text-sm">
                                    <a th:href="@{/admin/employees/preview/{id}(id=${employee.id})}"
                                       data-bs-toggle="tooltip"
                                       data-bs-original-title="Preview">
                                        <i class="fas fa-eye text-secondary"></i>
                                    </a>
                                    <a th:href="@{/admin/employees/edit/{id}(id=${employee.id})}"
                                       class="mx-3" data-bs-toggle="tooltip"
                                       data-bs-original-title="Edit">
                                        <i class="fas fa-user-edit text-secondary"></i>
                                    </a>
                                    <a th:href="@{/admin/employees/delete/{id}(id=${employee.id})}"
                                       data-bs-toggle="tooltip"
                                       data-bs-original-title="Delete product">
                                        <i class="fas fa-trash text-secondary"></i>
                                    </a>
                                </td>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>
<th:block layout:fragment="scripts">
    <script>
        const dataTableSearch = new simpleDatatables.DataTable("#datatable-search", {
            searchable: true,
            fixedHeight: true,
            perPage: 5
        });
        document.querySelectorAll(".export").forEach(function (el) {
            el.addEventListener("click", function (e) {
                const type = el.dataset.type;

                const data = {
                    type: type,
                    filename: "employees",
                };

                if (type === "csv") {
                    data.columnDelimiter = "|";
                }

                dataTableSearch.export(data);
            });
        });
    </script>
</th:block>
</html>