<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<th:block layout:fragment="content">
    <div class="container py-4">
        <div class="row mt-4">
            <div class="col-12">
                <div class="card">
                    <div class="alert alert-danger text-center" role="alert"
                         th:if="${errorMessage != null}">
                            <span class="alert-text text-light"
                                  th:text="${errorMessage}">
                            </span>
                    </div>
                    <div class="alert alert-success text-center" role="alert"
                         th:if="${successMessage != null}">
                            <span class="alert-text text-light"
                                  th:text="${successMessage}">
                            </span>
                    </div>
                    <div class="card-header">
                        <div class="d-lg-flex">
                            <div>
                                <h5 class="mb-0">Drugs</h5>
                            </div>
                            <div class="ms-auto my-auto">
                                <a th:href="@{/pharmacist/drugs/new}"
                                   class="btn bg-gradient-primary btn-sm mb-0"
                                >+&nbsp; New Drug</a>
                                <button class="btn btn-outline-primary
                                btn-sm export mb-0 mt-sm-0 mt-1"
                                        data-type="csv" type="button" name="button">Export
                                </button>
                            </div>
                        </div>

                    </div>
                    <div class="table-responsive">
                        <table class="table table-flush" id="datatable-search">
                            <thead class="thead-light">
                            <tr>
                                <th>Id</th>
                                <th>Drug Name</th>
                                <th>Price</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="drug : ${drugs}">
                                <td th:text="${drug.id}"></td>
                                <td th:text="${drug.name}"></td>
                                <td th:text="${#numbers.formatDecimal(drug.price,
                                                0, 'POINT', 2, 'COMMA')} + 'VND'"></td>
                                <td class="text-sm">
                                    <a th:href="@{/pharmacist/drugs/edit/{id}(id=${drug.id})}"
                                       data-bs-toggle="tooltip"
                                       data-bs-original-title="Edit">
                                        <i class="fas fa-user-edit text-secondary"></i>
                                    </a>
                                    <a th:href="@{/pharmacist/drugs/delete/{id}(id=${drug.id})}"
                                       data-bs-toggle="tooltip"
                                       data-bs-original-title="Delete" class="mx-3">
                                        <i class="fas fa-trash text-secondary"></i>
                                    </a>
                                </td>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>
<th:block layout:fragment="scripts">
    <script>
        const dataTableSearch = new simpleDatatables.DataTable("#datatable-search", {
            searchable: true,
            fixedHeight: true,
            perPage: 5,
            order: [
                [0, "desc"]
            ],
        });
        document.querySelectorAll(".export").forEach(function (el) {
            el.addEventListener("click", function (e) {
                const type = el.dataset.type;

                const data = {
                    type: type,
                    filename: "employees",
                };

                if (type === "csv") {
                    data.columnDelimiter = "|";
                }

                dataTableSearch.export(data);
            });
        });
    </script>
</th:block>
</html>