<!DOCTYPE html>
<html lang="en">
<body>
<script src="/js/core/popper.min.js"></script>
<script src="/js/core/bootstrap.min.js"></script>
<script src="/js/plugins/perfect-scrollbar.min.js"></script>
<script src="/js/plugins/smooth-scrollbar.min.js"></script>
<script src="/js/plugins/datatables.js"></script>
<script src="/js/plugins/dragula/dragula.min.js"></script>
<script src="/js/plugins/jkanban/jkanban.js"></script>

<script async defer src="https://buttons.github.io/buttons.js"></script>

<script src="/js/soft-ui-dashboard.min.js?v=1.1.0"></script>
<script defer
        src="https://static.cloudflareinsights.com/beacon.min.js/v84a3a4012de94ce1a686ba8c167c359c1696973893317"
        integrity="sha512-euoFGowhlaLqXsPWQ48qSkBSCFs3DPRyiwVu3FjR96cMPx+Fr+gpWRhIafcHwqwCqWS42RZhIudOvEI+Ckf6MA=="
        data-cf-beacon='{"rayId":"82b25b822d5c6bbb","version":"2023.10.0","token":"1b7cbb72744b40c580f8633c6b62637e"}'
        crossorigin="anonymous"></script>
</body>
</html>