<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<th:block layout:fragment="content">
    <div class="container-fluid py-4">
        <div class="row">
            <div class="col-6 mx-auto">
                <div class="card">
                    <div class="card-body">
                        <h5 class="mb-4">Employee Details</h5>
                        <div class="row">
                            <div class="col-lg-6 mx-auto" th:object="${employee}">
                                <h3 class="mt-lg-0 mt-4" th:text="*{fullName}"></h3>
                                <h6 class="mb-0" th:text="*{username}"></h6>
                                <h5 th:text="'Role: ' + *{type}"></h5>
                                <span class="badge badge-success"
                                      th:text="*{id}"></span>
                                <br>
                                <label class="mt-4">Info</label>
                                <ul>
                                    <li th:text="'Join Date: ' + *{joinDate}"></li>
                                    <li th:text="'Date of Birth: ' + *{dob}"></li>
                                    <li th:text="'Gender: ' + *{gender}"></li>
                                    <li th:text="'Email: ' + *{email}"></li>
                                    <li th:text="'Phone number: ' + *{phone}"></li>
                                    <div th:if="${employee.type == 'ROLE_DOCTOR'}">
                                        <li th:text="'Department: ' + ${department.name}"></li>
                                        <li th:text="'Phone number: ' + ${position.name}"></li>
                                    </div>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <form class="row mt-4" th:action="@{/profile/change-password}"
              method="POST">
            <div class="col-lg-12 mt-lg-0 mt-4">
                <div class="card">
                    <div class="alert alert-danger text-center" role="alert"
                         th:if="${errorMessage != null}">
                            <span class="alert-text text-light"
                            th:text="${errorMessage}">
                            </span>
                    </div>
                    <div class="alert alert-success text-center" role="alert"
                         th:if="${successMessage != null}">
                            <span class="alert-text text-light"
                                  th:text="${successMessage}">
                            </span>
                    </div>
                    <div class="card-body">
                        <h5 class="font-weight-bolder">Password Change</h5>
                        <div class="row">
                            <div class="col-3">
                                <label class="mt-4">Old Password:</label>
                                <input class="form-control" type="password"
                                       name="oldPassword"/>
                            </div>
                            <div class="col-3">
                                <label class="mt-4">New Password</label>
                                <input class="form-control" type="password"
                                       name="newPassword"/>
                            </div>
                            <div class="col-3">
                                <label class="mt-4">Confirm Password again:</label>
                                <input class="form-control" type="password"
                                       name="confirmPassword"/>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-center">
                        <button type="submit" class="btn
                        bg-gradient-primary mb-0 ms-lg-auto me-lg-0 me-auto mt-lg-0 mt-2">
                            Save
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</th:block>
</html>