<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<th:block layout:fragment="content">
    <div class="container-fluid py-4">
        <div class="row">
            <div class="col-lg-6">
                <h4>Add New Patient</h4>
            </div>
        </div>
        <div class="row mt-4">
            <form th:action="@{/receptionist/patients/save}" method="POST" class="col-lg-12 mt-lg-0 mt-4"
                  th:object="${patient}">
                <div class="card">
                    <div class="alert alert-danger text-center" role="alert"
                         th:if="${errorMessage != null}">
                            <span class="alert-text text-light"
                                  th:text="${errorMessage}">
                            </span>
                    </div>
                    <div class="alert alert-success text-center" role="alert"
                         th:if="${successMessage != null}">
                            <span class="alert-text text-light"
                                  th:text="${successMessage}">
                            </span>
                    </div>
                    <div class="card-body">
                        <h5 class="font-weight-bolder">New Patient</h5>
                        <div class="row">
                            <div class="col-12 col-sm-6">
                                <label>Full Name</label>
                                <input class="form-control" type="text"
                                       th:value="*{fullName}" required
                                       name="fullName"/>
                            </div>
                            <div class="col-12 col-sm-6 mt-3 mt-sm-0">
                                <label>ID Card</label>
                                <input class="form-control" type="text"
                                       th:value="*{idCard}" required
                                       name="idCard"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <label class="mt-4">Phone Number</label>
                                <input class="form-control" type="tel"
                                       th:value="*{phone}"
                                       name="phone"/>
                            </div>
                            <div class="col-3">
                                <label class="mt-4">Insurance Number</label>
                                <input class="form-control" type="text"
                                       th:value="*{insuranceNumber}"
                                       name="insuranceNumber"
                                placeholder="Not required"/>
                            </div>
                            <div class="col-sm-3">
                                <label class="mt-4">Gender</label>
                                <select class="form-control" name="gender">
                                    <option value="MALE"
                                            th:selected="${patient.gender == 'MALE'}">Male
                                    </option>
                                    <option value="FEMALE"
                                            th:selected="${patient.gender == 'FEMALE'}">Female
                                    </option>
                                </select>
                            </div>
                            <div class="col-3">
                                <label class="mt-4">Birthday</label>
                                <input class="form-control" type="date"
                                       pattern="dd/MM/yyyy"
                                       th:value="*{dob}"
                                       required
                                       name="dob"/>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-center">
                        <button type="submit" class="btn
                        bg-gradient-primary mb-0 ms-lg-auto me-lg-0 me-auto mt-lg-0 mt-2">
                            Save
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</th:block>
</html>